:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #181b38;
  --input-background-color: #f3f5f8;
  --overlay-color: rgba(21, 21, 21, 0.79);
  --accent-color: #1f2b4d;
  --main-button-color: #5461ff;
  --header-button-color: #f5f5f5;
  --main-text-color: rgba(24, 25, 26, 0.8);
  --secondary-text-color: #ffffff;
  --third-text-color: #181b38;
  --accent-text-color: #5461ff;
  --footer-text-color: rgba(255, 255, 255, 0.8);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7;
  background-color: var(--main-background-color);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

h1 {
  font-size: 52px;
  line-height: 115%;
  font-weight: 700;
}
.list {
  list-style: none;
}
h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 115%;
  margin-bottom: 64px;
  text-align: center;
}

.span_title {
  color: #5459ff;
}
.button {
  border: 1px solid var(--main-button-color);
  background-color: var(--main-button-color);
  border-radius: 100px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  height: 60px;
  text-transform: uppercase;
}

.button:hover {
  background-color: transparent;
  color: var(--accent-text-color);
}

.button-secondary {
  border: 1px solid var(--main-button-color);
  border-radius: 100px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--accent-text-color);
  font-size: 12px;
  height: 100%;
}
.button-secondary:hover {
  background-color: var(--main-button-color);
  color: var(--secondary-text-color);
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container-dark {
  background: var(--secondary-background-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.colorful-text {
  color: var(--accent-text-color);
}

.bold {
  font-weight: 700;
}
/*----------*/

.header {
  display: grid;
  grid-template-columns: 14% 58% 14%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
}

.header__logo {
  height: 42px;
}

.header__logo img {
  height: 100%;
  object-fit: contain;
}

.header__menu {
  width: 100%;
  list-style: none;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 115%;
  transition: all 0.3s ease;
}

.header__button {
  height: 100%;
}
.header__menu li {
  transition: all 0.3s ease;
}
.header__menu li:hover {
  color: var(--accent-text-color);
}

.header__burger-icon {
  display: none;
  cursor: pointer;
}
.header__burger-menu {
  display: none;
}

.header__menu_icon:hover {
}
.header__burger-menu.is-open {
  display: block;
  background-color: #f3f5f8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  width: 100vw;
  height: 100vh;
}

/*MAIN*/

.banner {
  height: calc(100vh - 90px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.banner__text,
.banner__image-info {
  display: grid;
  justify-content: center;
  align-items: center;
}

.banner__text {
  max-width: 410px;
  width: 100%;
  margin: auto;
}

.banner__text-title {
  margin-bottom: 24px;
}

.banner__text-subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 170%;
  margin-bottom: 48px;
}

.banner__text-description {
  font-weight: 700;
  font-size: 24px;
  line-height: 170%;
}

.banner__text-description p {
  margin-bottom: 32px;
}

.banner .button {
  width: 270px;
}

.banner__image-info {
  height: 100%;
  align-items: end;
  margin-right: -10px;
}
.banner__info {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px 0px;
  display: flex;
  column-gap: 64px;
  padding: 20px 27px;
}

.material-symbols-outlined {
  color: var(--accent-text-color);
  font-size: 32px;
}

.banner__info-date,
.banner__info-address {
  display: flex;
  align-items: start;
  column-gap: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
}

@media only screen and (max-width: 1140px) {
}
@media only screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  nav {
    display: none;
  }

  .menu {
    display: flex;
  }
}
@media only screen and (min-width: 769px) {
  .header__burger-menu.is-open {
    display: none;
  }
}
/*whoIs*/
.section {
  width: 100vw;
  margin: 51px auto;
  background-color: var(--main-background-color);
}

.wrapper {
  display: flex;
  gap: 64px;
  padding: 0px 90px;
}

.whoIs__ImgWrapper,
.conference__Iframewrapper {
  border-radius: 10px;
  max-width: 520px;
}
.conference__wrapper .button {
  width: 270px;
}
.wrapper__text {
  max-width: 528px;
}

/* guest */
.guest-back {
  background-color: var(--main-background-color);
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/desktop/back1.jpeg);
}
.guest {
  background-size: contain;
  background-position: 99%;

  background-repeat: no-repeat;
  background-image: url(../images/desktop/back2.png);
}
.wrapper__text-guest {
  margin-left: 180px;
}

.conference {
  background-size: contain;

  background-repeat: no-repeat;
  background-image: url(../images/desktop/back3.png);
}
.for {
  padding: 80px 45px 106px 45px;
}
.for__list {
  display: flex;

  gap: 56px;
}
.for__item {
  max-width: 267px;
}
.for__item > div {
  display: flex;
  gap: 19px;
  padding-bottom: 15px;
}
