:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #181b38;
  --input-background-color: #f3f5f8;
  --overlay-color: rgba(21, 21, 21, 0.79);
  --accent-color: #1f2b4d;
  --main-button-color: #5461ff;
  --header-button-color: #f5f5f5;
  --main-text-color: rgba(24, 25, 26, 0.8);
  --secondary-text-color: #ffffff;
  --third-text-color: #181b38;
  --accent-text-color: #5461ff;
  --footer-text-color: rgba(255, 255, 255, 0.8);
  --span-title-color: #5459ff;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  --background-color-overly: rgba(33, 150, 243, 0.9);
  --background-color-backdrop: rgba(0, 0, 0, 0.2);
  --box-shadow-modal-first: rgba(0, 0, 0, 0.12);
  --box-shadow-modal-second: rgba(0, 0, 0, 0.14);
  --border-color-modal: rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7;
  background-color: var(--main-background-color);
}
body.hide-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

h1 {
  font-size: 52px;
  line-height: 115%;
  font-weight: 700;
}

h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 115%;
  margin-bottom: 11px;
  text-align: center;
}
h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 170%;
  text-align: center;
}
h4 {
  font-size: 14px;
  line-height: 150.52%;
  letter-spacing: 0.1em;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  color: var(--main-text-color);
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
    text-align: center;
  }
}
img {
  border-radius: 10px;
  object-fit: contain;
}

.list {
  list-style: none;
}

.section {
  width: 100vw;
  margin: 0px auto 150px auto;
}
@media only screen and (max-width: 768px) {
  .section {
    margin: 0px auto 64px auto;
  }
}
.span_title {
  color: var(--span-title-color);
}

.button {
  border: 1px solid var(--main-button-color);
  background-color: var(--main-button-color);
  border-radius: 100px;
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  height: 60px;
  text-transform: uppercase;
}

.button__modal {
  border: 1px solid var(--main-button-color);
  background-color: var(--main-background-color);
  border-radius: 100px;
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  height: 60px;
  text-transform: uppercase;
  width: 308px;
  margin: 65px 0 0 0;
}

.button:hover {
  background-color: transparent;
  color: var(--accent-text-color);
}

.color_btn {
  color: #5459ff;
}

.button-secondary {
  border: 1px solid var(--main-button-color);
  border-radius: 100px;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--accent-text-color);
  font-size: 12px;
  height: 100%;
}

.button-secondary:hover {
  background-color: var(--main-button-color);
  color: var(--secondary-text-color);
}

.container {
  max-width: 1320px;
  /* width: 100%; */
  padding: 0 5px;
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 390px;
    width: 100%;
    padding: 0 5px;
  }
}
.container-dark {
  background: var(--secondary-background-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.colorful-text {
  color: var(--accent-text-color);
}

.bold {
  font-weight: 700;
}

.wrapper {
  display: flex;
  gap: 64px;
  padding: 0px 90px;
}
@media only screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0px;
  }
}
.center-text {
  text-align: center;
}
.text-smoll {
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  color: var(--main-text-color);
}
.gap {
  display: flex;
  flex-direction: column;
  gap: 56px;
}
/*----------*/

/* header */
.header_wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #fff;
}
.header {
  display: grid;
  grid-template-columns: 14% 58% 14%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .header {
    grid-template-columns: 14% 7%;
  }
}

.header__logo,
.footer__logo {
  height: 42px;
}

.header__logo img,
.footer__logo img {
  height: 100%;
  object-fit: contain;
}

.header__menu {
  width: 100%;
  list-style: none;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 115%;
  transition: all 0.3s ease;
}

.header__button {
  height: 100%;
}
.header__menu li,
.footer__nav li,
.footer__adress li {
  transition: all 0.3s ease;
}
.header__menu li:hover,
.footer__nav li:hover,
.footer__adress li:hover {
  color: var(--accent-text-color);
}

.header__burger-icon {
  display: none;
  cursor: pointer;
}
.header__burger-menu {
  display: none;
}

.header__burger-menu.is-open {
  display: block;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 577px;
  max-width: 355px;
  flex-direction: column;
  left: 50%;
  padding: 22px 12px;
  transform: translateX(-50%) scale(1);
  box-shadow: 0px 49px 31px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 16px 16px;
}

.modal__header-wrap {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.modal__menu-list {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.modal__menu-list-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 3.1;
}

.modal__menu-list-item:hover {
  color: #5459ff;
}
/* menu */
@media only screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  nav {
    display: none;
  }

  .menu {
    display: flex;
  }

  .header .button-secondary {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  .header__burger-menu.is-open {
    display: none;
  }
}

/*MAIN*/

/* hero banner */
.banner {
  width: 100vw;
  height: calc(100vh - 90px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* margin-top: 82px; */
  padding: 0px 30px;
  border-radius: 0px;
  align-items: center;
}

.banner__text,
.banner__image-info {
  display: grid;
  justify-content: center;
  align-items: center;
}

.banner__text {
  max-width: 410px;
  width: 100%;
  /* margin: auto; */
}

.banner__text-title {
  margin-bottom: 24px;
}

.banner__text-subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 170%;
  margin-bottom: 48px;
}

.banner__text-description {
  font-weight: 700;
  font-size: 24px;
  line-height: 170%;
}

.banner__text-description p {
  margin-bottom: 32px;
}

.banner .button {
  width: 270px;
}

.banner__image-info {
  height: 100%;
  align-items: end;
  margin-right: -10px;
}
.banner__info {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px 0px;
  display: flex;
  column-gap: 64px;
  padding: 20px 27px;
}

.material-symbols-outlined {
  color: var(--accent-text-color);
  font-size: 32px;
}

.banner__info-date,
.banner__info-address {
  display: flex;
  align-items: start;
  column-gap: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 170%;
}
@media only screen and (max-width: 768px) {
  .banner {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 645px;
  }
  .banner__info {
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    column-gap: 64px;
    padding: 15px 27px;
    font-size: 16px;
  }
  .banner__text-subtitle {
    font-size: 14px;
    text-align: center;
  }
  .banner__text-description {
    font-size: 20px;
    text-align: center;
  }
  .banner__info-date,
  .banner__info-address {
    font-size: 16px;
  }
  .banner__image {
    display: none;
  }
  .banner .link-btn {
    margin: 0 auto;
  }
  .banner__image-info {
    height: 100%;
    align-items: end;
    margin: 0;
  }
}

/*whatIs*/

.whoIs__ImgWrapper,
.conference__Iframewrapper {
  border-radius: 10px;
  max-width: 520px;
}
.conference__wrapper button {
  width: 270px;
}
.wrapper__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 520px;
}
.wrapper__text h2 {
  margin-bottom: 0;
}
@media only screen and (max-width: 768px) {
  .whoIs__ImgWrapper img {
    margin: 0 auto;
  }
}
/* conference  */

.conference {
  background-size: contain;
  background-position: -6%;
  background-repeat: no-repeat;
  background-image: url(../images/desktop/back3.png);
}
.conference__Iframewrapper iframe {
  width: 520px;
}
@media only screen and (max-width: 768px) {
  .conference__Iframewrapper iframe {
    width: 350px;
  }
  .conference {
    background-image: none;
  }
  .conference button {
    margin: 0 auto;
  }
}
/* conference for */
.for {
  padding: 80px 45px 106px 45px;
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/mask.png);
}
.for__list {
  display: flex;
  gap: 56px;
}
.for__item {
  max-width: 267px;
}
.for__item > div {
  display: flex;
  gap: 14px;
  padding-bottom: 15px;
}
@media only screen and (max-width: 768px) {
  .for__list {
    flex-direction: column;
  }
}
/* guest */
.guest-back {
  background-color: var(--main-background-color);
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/desktop/back1.jpeg);
}
.guest-back h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 115%;
  color: var(--third-text-color);
}
.guest {
  background-size: contain;
  background-position: 99%;
  background-repeat: no-repeat;
  background-image: url(../images/desktop/back2.png);
}
.guest div {
  margin: 0 auto;
}
.guest h2 {
  margin-bottom: 36px;
}
.wrapper__text-guest {
  max-width: 532px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  font-size: 16px;
  margin-left: 180px;
}

/* contributorCompany */
.contributorCompany h2 {
  margin-bottom: 0;
}

.contributorCompany ul {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}
.contributorCompany button {
  padding: 19px 39px;
  margin: 0 auto;
}

/* alreadyContributors */
.alreadyContributors {
  background-size: contain;
  /* background-position: -1%; */
  background-repeat: no-repeat;
  background-image: url(../images/desktop/back4.png);
}
.alreadyContributors div {
  margin: 0 auto;
}
.alreadyContributors__list {
  display: flex;
  justify-content: space-between;
}

.alreadyContributors__list div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 295px;
  height: 468px;
  padding: 30px 22px;
  border: 1px solid rgba(24, 27, 56, 0.2);
  border-radius: 8px;
}
.alreadyContributors__list img {
  border-radius: 0px;
}
.alreadyContributors__listtwo li {
  list-style-image: url("../images/list.svg");
  margin-left: 12px;
}
@media only screen and (max-width: 769px) {
  .alreadyContributors {
    background-image: none;
  }
  .slider {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
  }

  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .slide.active {
    opacity: 1;
  }

  .slide.previous {
    transform: translateX(-100%);
  }

  .slide.next {
    transform: translateX(100%);
  }

  .slide.previous.active,
  .slide.next.active {
    opacity: 1;
  }
}

/* becomeCDEV */
.becomeCDEV__wrapper {
  padding: 80px 130px;
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/mask.png);
}

.becomeCDEV__list {
  display: flex;
  gap: 92px;
  /* margin-bottom: 22px; */
}
.becomeCDEV__subtitle {
  font-size: 16px;
  line-height: 170%;
  margin-bottom: 56px;
}
.becomeCDEV__wrapper h4 {
  margin-bottom: 46px;
  font-size: 24px;
  line-height: 170%;
}
.becomeCDEV__wrapper button {
  padding: 18px 39px;
  margin-top: 41px;
}
.becomeCDEV__list-wrapper {
  margin-bottom: 100px;
}
@media only screen and (max-width: 768px) {
  .becomeCDEV__wrapper {
    padding: 32px 12px;
    background-image: none;
  }
  .becomeCDEV__list {
    flex-direction: column;
    gap: 28px;
  }
  .becomeCDEV__list-wrapper {
    margin-bottom: 40px;
  }
}

/* footer */
.footer {
  padding: 33px 101px;
  background: var(--secondary-background-color);
  color: var(--secondary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer__adress-wrapper {
  max-width: 244px;
}
.footer__logo {
  margin-bottom: 22px;
}

.footer__nav-wrapper {
  max-width: 470px;
}

.footer-text {
  font-size: 12px;
  line-height: 150.52%;
  letter-spacing: 0.1em;
  text-align: start;
  text-transform: uppercase;
  color: var(--footer-text-color);
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.footer__adress {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__cocial-wrapper {
  max-width: 61px;
  display: flex;
  flex-direction: column;
  gap: 19px;
}
.footer__cocial-list {
  display: flex;
  gap: 17px;
}
.footer__cocial-list img:hover {
  background-color: var(--accent-text-color);
}

@media only screen and (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__nav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  .footer__adress {
    align-items: center;
  }
  .footer {
    padding: 60px 45px;
    text-align: center;
    font-size: 12px;
  }
  .footer__cocial-list {
    justify-content: center;
  }
}

/* ------- */
/* form */
.form__wrapper {
  padding-bottom: 64px;
  padding-top: 48px;
  padding: 48px 105px 64px 105px;
}

.form__wrapper div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__wrapper label,
.form__wrapper input {
  flex-basis: calc(50% - 10px);
  margin-bottom: 10px;
}

.form__wrapper label {
  font-weight: bold;
  display: block;
  color: #ffffff;
}
.form__wrapper div {
  display: flex;
  flex-direction: column;
}
.form__wrapper input {
  padding: 10px 7px 10px 31px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
}

.form__wrapper .form__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.form__wrapper .form__label {
  font-weight: bold;
  display: block;
  width: calc((100% - 80) / 2);
}

.form__section input::placeholder {
  color: #202122;
  font-size: 1.2em;
  font-weight: 400;
  font-size: 14px;
}

.email__input {
  background-image: url(../images/email.svg);
  background-repeat: no-repeat;
  background-position: bottom 12px left 6px;
  background-size: 18px;
}

.user__input {
  background-image: url(../images/user.svg);
  background-repeat: no-repeat;
  background-position: bottom 12px left 6px;
  background-size: 18px;
}

.company__input {
  background-image: url(../images/company.svg);
  background-repeat: no-repeat;
  background-position: bottom 10px left 6px;
  background-size: 18px;
}

.position__input {
  background-image: url(../images/position.svg);
  background-repeat: no-repeat;
  background-position: bottom 12px left 6px;
  background-size: 18px;
}

.phone__input {
  background-image: url(../images/smartphone.svg);
  background-repeat: no-repeat;
  background-position: bottom 8px left 4px;
  background-size: 23px;
}

.btn__modal {
  margin-top: 48px;
  padding: 10px 106px;
}

.btn_form {
  padding: 10px 106px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .form__wrapper .form__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }

  .form__wrapper .form__label {
    font-weight: bold;
    display: block;
    width: 327px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: var(--background-color-backdrop);
  opacity: 1;
  transition: opacity var(--time) var(--cubic),
    visibility var(--time) var(--cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity var(--time) var(--cubic),
    visibility var(--time) var(--cubic);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform var(--time) var(--cubic);
}

.modal {
  left: 50%;
  top: 50%;
  padding: 35px;
  transform: translate(-50%, -50%) scale(1);
  transition: -webkit-transform var(--time) var(--cubic);
  transition: transform var(--time) var(--cubic);
  position: fixed;
  overflow: auto;
  width: 1028px;
  height: 636px;
  background: #181b38;
  border-radius: 20px;
}
/* CSS */
@media only screen and (max-width: 768px) {
  .modal {
    width: 355px;
    height: 636px;
  }
  .form__wrapper {
    padding-bottom: 64px;
    padding-top: 48px;
    padding: 48px 5px 64px 5px;
  }
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* thanks */

.section__thanks {
  width: 100vw;
  margin: 0px auto;
}
.thanks {
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  background-image: url(../images/mask.png);
  margin-bottom: 30px;
  margin-top: 89px;
  padding: 100px 295px 120px 295px;
}
.thanks h2 {
  font-size: 52px;
  margin-bottom: 80px;
}
.thanks h3 {
  font-size: 24px;
  margin-bottom: 46px;
}
.thanks h3 > span {
  font-weight: 700;
  font-size: 40px;
  line-height: 170%;
}

.thanks p {
  font-weight: 500;
  font-size: 24px;
  line-height: 170%;
  text-align: center;
}

.footer_thanks {
  position: fixed;
  bottom: 0;
  width: 100vw;
  margin: 0px auto;
}

@media only screen and (max-width: 768px) {
  .thanks {
    margin-top: 89px;
    padding: 32px 56px;
  }
  .thanks h2 {
    font-size: 40px;
    margin-bottom: 72px;
  }
  .thanks h3 {
    font-size: 20px;
    margin-bottom: 40px;
  }
  .thanks h3 > span {
    font-weight: 700;
    font-size: 24px;
    line-height: 170%;
  }

  .thanks p {
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
  }
  .footer_thanks {
    position: static;
    bottom: 0;
    width: 100vw;
    margin: 0px auto;
  }
}
.link-btn {
  width: 174px;
  height: 46px;
  font: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

.link-btn__header {
  width: 174px;
  font: inherit;
  /* color: inherit; */
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
